body{
    background-image: url("../image/star-wars-ship.png");
}
h1{
    color: white;
    font-size: 40px;
}
.container{
    padding:10px;
    text-align: center;
    margin: 5px;
    display :flex;
    flex-wrap: wrap;
}

.img{
    background-color : white;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}
.img-attacker{
    background-color : white;
    border: 5px solid green;
}
.img-enemy{
    background-color : red;
    border: 5px solid black;
}
.img-defender{
    background-color : black;
    border: 5px solid green;
}
.button {
    background-color: red;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 10px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
  }
  
  .button:hover {opacity: 1}